
<form class="row g-3 col-md-4 mx-auto align-items-end">
<h2 class="">Add a book to your shelf</h2>

  <div class="col-md-4">
    <label for="bookname" class="form-label">book name</label>
    <input type="text" class="form-control" id="bookname">
  </div>
  <div class="col-md-4">
    <label for="author" class="form-label">author</label>
    <input type="text" class="form-control" id="author">
  </div>

  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="addBook">Add Book</button>
  </div>
</form>