
<nav class="navbar">
  <div class="container">
    <div class="container-fluid d-flex align-items-center">
      <span class="navbar-brand mb-0 h1">
        <i class="fa-solid fa-book"></i>
        <span class="logo-name fs-3">Bookshelf</span>
      </span>
      <ul class="d-flex">
        <li class="nav-item">
          <a class="nav-link active fs-4" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="/about">About</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
