* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: crimson;
}

.main-container {
  width: fit-content;
  block-size: fit-content;
  margin: 100px;
  padding: 30px;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  display: flex;
  column-gap: 20px;
  border: 2px solid darkslategrey;
}



.col-8 {
  border: 5px solid #F4D03F;
  background-color: white;
  max-width: 500px;
  font-size: 20px;
  padding: 50px;
  margin: auto;
  text-align: center;
}   

.col-4 {
  border: 5px solid #F4D03F;
  background-color: white;
  padding: px;
  margin: auto;
  text-align: center;
}  

.col-5 {
  border: 5px solid #F4D03F;
  background-color: white;
  max-width: 500px;
  font-size: 20px;
  padding: 50px;
  margin: auto;
  text-align: center;
}   

.col-7 {
  border: 5px solid #F4D03F;
  background-color: white;
  padding: 50px;
  margin: auto;
  text-align: left;
}  

/*div.ex2 {
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}*/

.btn {
  background-color: #F4D03F;
}

.container {
  display: flex;
}

.containertest {
  border: 3px black;
}

.rowtest {
  border: 3px black;
}

.row {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}


