{{> navbar}}

<h1 class="text-center">About Us ..</h1>
<br>
<br>

<h1 class="text-center">6 Interesting Facts about Reading</h1>

<p class="text-center">Habitual Reading Makes You Kinder</p>
    <br>
   Steven Bloomberg stole 23,000 rare books from 268 libraries
   <br>
    The World's Fastest Reader Reads 25,000 Work per Minute
    <br>
    Three Best-Selling Books in the World
    Holy Bible (6 billion copies)
    Quotatiions from Chairman Mao Tse-Tung (900 million)
    Harry Potter Series (500 million copies)
    <br>
    Illiteracy is still a problem; every fifth adult in the world cannot read or write.
    <br>
    Your eyes look in different directions when reading

  <!--</div>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Stevem Bloomberg sole 23,000 rare books from 268 libraries
   <br>
    The World's Fastest Reader Reads 25,000 Work per Minute
    <br></p>
  </div>
</div>-->


