{{> navbar}}

<div class="container">

<h1 class="text-center">About Us ..</h1>
<br>
<br>
<div>
<img src="/public/images/quote.jpg" alt="reading helps with stress">
</div>


  <!--</div>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Stevem Bloomberg sole 23,000 rare books from 268 libraries
   <br>
    The World's Fastest Reader Reads 25,000 Work per Minute
    <br></p>
  </div>
</div>-->


