
{{> hero}}

<div class="about-box mb-3" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="/images/quote.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-7">
      <div class="about1-body">
        <h5 class="about1-title">3 Interesting Facts about Reading</h5>
        <br>
        <p class="about1-text">
          <ul>
            <li>Habitual Reading Makes You Kinder</li>
            <br>
            <li>The World's Fastest Reader Reads 25,000 Work per Minute.</li>
            <br>
            <li>Illiteracy is still a problem; one in every five adults in the world cannot read or write.</li>
            <br>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>


