

<section id="page-container">
  <div class="main-container">
    <div class="col-5">
      <img src="/images/quote.jpg" class="card-img-top" alt="Asal Lotfi Unsplash" />
      <div class="card-body">
        <br />
        <p class="card-text">6 Interesting Facts about Reading</p>
      </div>
    </div>
    <div class="col-7">
      <ul>
        <li>Habitual Reading Makes You Kinder</li>
        <li>
          Illiteracy is still a problem; every fifth adult in the world
          cannot read or write.
        </li>
        <li>Your eyes look in different directions when reading</li>
        <li>
          Steven Bloomberg stole 23,000 rare books from 268 libraries
        </li>
        <li>The World's Fastest Reader Reads 25,000 Work per Minute</li>
      </ul>
      <ol>
        Three Best-Selling Books in the World
        <li>Holy Bible (6 billion copies)</li>
        <li>Quotations from Chairman Mao Tse-Tung (900 million)</li>
        <li>Harry Potter Series (500 million copies)</li>
      </ol>
    </div>
  </div>
</section>