
{{> hero}}

<div class="container">


<div class="d-flex justify-content-end mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/images/books.jpeg" class="card-img-top" alt="Asal Lotfi Unsplash">
      <div class="card-body">
        <h5 class="card-title">My Book Shelf</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa facere a quibusdam quas
          tempore.</p>

        <form>
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>-->
            <div class="mb-3 mt-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <!--<div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>-->
            <button type="submit" class="btn btn-warning">Login</button>
            <br>
            <br>
            <button type="submit" class="btn btn-warning"><a href="./sign_up">Create Account</a></button>
        </form>

      </div>
    </div>
</div>
</div>