
<div class="container">
  <div class="row col-md-6">
    <div class="signup-container">
    <h1 class="mb-3">Create an account</h1>
      <form class="form signup-form row g-3">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Choose a username" id="inputusername4"
              aria-label="User name">
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
      
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
      
        <div class="col-12">
          <button type="submit" class="btn btn-warning" id="newAccountBtn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>