
<div class="signup-container">
<div class="row g-3">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Choose a username" aria-label="User name">
    <br>
  </div>
</div>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"> Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-warning" id="newAccountBtn">Submit</button>
    </div>
</form>
</div>