<h1 class="text-center">THIS IS A TESTING PAGE.</h1>
<p class="text-center">Add any HTML code in this test.handlerbars file to experiment with event listeners and JS functions</p>
<p class="text-center">The public folder inside server holds the relevant JavaScript file</p>
<br>
<hr>
<br>

{{!-- add a book --}}
<form class="row g-3 col-md-4 mx-auto align-items-end">
  <div class="col-md-4">
    <label for="bookname" class="form-label">book name</label>
    <input type="text" class="form-control" id="bookname" >
  </div>
  <div class="col-md-4">
    <label for="author" class="form-label">author</label>
    <input type="text" class="form-control" id="author" >
  </div>

  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="addBook">Add Book</button>
  </div>
</form>
