<h1 class="text-center">THIS IS A TESTING PAGE.</h1>
<p class="text-center">Add any HTML code in this test.handlerbars file to experiment with event listeners and JS functions</p>
<p class="text-center">The public folder inside server holds the relevant JavaScript file</p>
<br>
<hr>
<br>



