.main-container {
  width: fit-content;
  block-size: fit-content;
  margin: 0px 100px;
  padding: 30px;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  display: flex;
  column-gap: 20px;
  border: 2px solid darkslategrey;
}

.col-8 {
  border: 5px solid #f4d03f;
  background-color: white;
  max-width: 500px;
  font-size: 20px;
  padding: 50px;
  margin: auto;
  text-align: center;
}

.col-4 {
  border: 5px solid #f4d03f;
  background-color: white;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.btn {
  background-color: #f4d03f;
}

.containertest {
  border: 3px black;
}

.rowtest {
  border: 3px black;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logout-btn {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.logout-btn:hover {
  text-shadow: #3e3e3e 1px 1px;
  color: white;
}

.btns-container {
  width: 100%;
}
