body {
  background-color: #fdf4cf;
}

.header {
  padding-left: 40px;
  padding-top: 20px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


nav {
  height: 100px;
  background-color: #f4d03f;
  border-bottom: 10px solid #cbae3b;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo-name {
  align-items: center;
}

/* remove space-between from bootstrap style */
.navbar > .container-fluid {
  justify-content: start;
}

.nav-item {
  margin-left: 20px;
  padding: 15px;
  transition: all 0.2s;
}

.nav-item:hover {
  color: #ffffff;
  text-shadow: #3e3e3e 1px 1px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.hero-image {
  background-image: url(/images/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
  width: 100%;
  border-bottom: #2d2d2d 5px solid;
  border-top: #2d2d2d 5px solid;
}

.card {
  position: absolute;
  top: 70px;
  border: #2d2d2d solid 1px;
}

h1 {
  font-size: 30px;
}

img {
  max-width: 100%;
  max-height: 350px;
}

.fa-solid.fa-book {
  font-size: 36px;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
}

.book-img-container {
  width: 250px;
  height: 350px;
  padding-left: 40px;
  padding-top: 15px;
  position: relative;
  justify-content: space-evenly;
}

.book-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-img-container:hover::after {
  background-color: #2d2d2d76;
}

.btn-close {
  display: none;
}

.book:hover .btn-close {
  display: block;
}


.book-content {
  padding-left: 30px;
  padding-bottom: 30px;
}



/*footer {
  color: white;
  text-align: center;
  bottom: 0;
  margin: auto;
  padding: 0 10px;
  width: 100%;
  position: fixed;
  height: 50px;
  background: #2d2d2d;
  border-top: 12px solid #3e3e3e;
}*/

#content-wrap {
  padding-bottom: 2.5rem;   /*Footer height*/
}

#footer {
  color: white;
  text-align: center;
  background: #2d2d2d;
  border-top: 12px solid #3e3e3e;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /*Footer height*/ 
}

.about {
  padding-left: 30px;
}