<form>
  <h1>Login</h1>
  <div class="form-container">
    <div class="container">
      <label for="username">Username</label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="password" required>
    </div>
    <button type="submit">Login</button>

    <div class="container">
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <span class="forgot-password"><a href="#"> Forgot password?</a></span>
    </div>
</form>