body {
  background-color: #fdf4cf;
}

nav {
  height: 100px;
  background-color: #f4d03f;
}

.logo-name {
  align-items: center;
}

.navbar-flex {
  display: flex;
}

/* remove space-between from bootstrap style */
.navbar > .container-fluid {
  justify-content: start;
}

.nav-item {
  margin-left: 10px;
}

.hero-image {
  background-image: url(/images/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
  width: 100%;
  border-bottom: #2d2d2d 5px solid;
  border-top: #2d2d2d 5px solid;
}

header {
  height: 100px;
}

h1 {
  font-size: 30px;
  color: red;
}

img {
  max-width: 100%;
  max-height: 350px;
}

.fa-solid.fa-book {
  font-size: 36px;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
}

.book-img-container {
  width: 250px;
  height: 350px;
  position: relative;
}

.book-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.book-img-container:hover::after {
  background-color: #2d2d2d76;
}

.btn-close {
  display: none;
}

.book:hover .btn-close {
  display: block;
}

footer {
  color: white;
  text-align: center;
  bottom: 0;
  margin: auto;
  padding: 0 10px;
  width: 100%;
  position: fixed;
  height: 50px;
  background: #2d2d2d;
  border-top: 12px solid #3e3e3e;
}
